#box1 {
    background-color: red;
    margin-left: 100px;
}
#box2 {
    background-color: green;
    margin-left: 200px;
}
#box3 {
    background-color: blue;
    margin-left: 10px;
}
#box4 {
    background-color: yellow;
    margin-left: 100px;
}
#box5 {
    background-color: #ff8100;
    margin-top: -505px;
}
#box6 {
    background-color: #7b00ff;
    margin-top: -70px;
    margin-left: 300px;
}
#box6 img {
    max-width: 100%;
    max-height: 100%;
}
.box {
    height: 200px;
    width: 200px;
    margin-top: 300px;
    float: left;
}
